body {
    margin: 0;
    font-family: "arial";
    font-size: 14px;
}

.header {
    width: 100%;
    height: 40px;
    background-color: #507299;
    position: fixed;
    top:0px;
}

img {
    height: 30px;
    padding-left: 100px;
    padding-top: 5px;
}

.back {
    background-color: #e1e5eb;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

    .menu {
        color: #507299;
        line-height: 2;
        margin-right: 30px;
        cursor: pointer;
    }

    .news {
        margin-right: 100px;
     }
     
     .news-block {
         width: 400px;
         border: 1px solid #d0d0d0;
         border-radius: 20px;
         background-color: white;
         padding: 15px;
         text-align: justify;
         margin-bottom: 20px;
     }
	.news-block::selection {
	background-color: #edeef0;
    color: green;
	}
         .likecom {
             border-top: 4px solid #d0d0d0; 
             color: #507299; 
         }
     
         .news-block img {
             padding: 10px;
             width: calc(100% - 20px);
             height: auto;
                width: 380px;
         }
     
         .news-block div ul {
             display:flex;
             justify-content: space-between;
             padding-left: 0px;
             margin: 5px 0px 0px 0px;
         }
     
         .news-block div ul li {
             margin-right: 5px;
         }
    		li:hover {
			background-color: #d0d0d0;
			}

     hr {
         background-color: #d0d0d0;
         border: none;
         height: 4px;
     }
     
         .inf-block {
             width: 150px;
             height: 200px;
             border: 1px solid #d0d0d0;
             border-radius: 10px;
             background-color: white;
             position: fixed;

         }
				.inf-content{
				background-color: #edeef0;
				margin-left: 5px;
				margin-right: 5px;
				}
				h4{
				text-align:center;
				}
         .inf-block:last-child {
             margin-top: 250px;
         }
     
     .footer {
         text-align: center;
         background-color: white;
         color: #d0d0d0;
         padding: 5px;
     }

    @media screen and (max-width: 500px)
    {
        .back
        {
            display:block;
        }
        .inf
        {
            display:none;
        }
        .menu ul
        {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-left: 10px;
            margin:0px;
        }
            .menu ul li
			{
                padding-right: 10px;
                cursor: pointer;
            }
			li:hover {
			background-color: #d0d0d0;
			}
        .news
        {
            margin-right: 0px;
        }
        .footer
        {
            margin-top: -20px;
        }
    }
li {
    list-style-type: none;
}

